@using WebApp.Core.Interfaces
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Add Team";
}

@inject UserManager<IdentityUser> userManager
@{
    var user = userManager.GetUserAsync(User);
    var userId = user.Result.Id;
}

<link rel="stylesheet" href="/css/Team/nicepage.css" media="screen" asp-append-version="true" >
<link rel="stylesheet" href="/css/Team/AddTeam.css" media="screen" asp-append-version="true">

<body class="u-body u-xl-mode">
    <section class="u-clearfix u-section-1" id="sec-9bb9">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-form u-form-1">
                   <form method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                    
                    <div class="u-form-group u-form-name">
                      <label for="name-8673" class="u-label">Name</label>
                      <input type="text" placeholder="Enter your Name" id="name-8673" name="Name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                    </div>
                       <div class="u-form-email u-form-group">
                           <label for="email-8673" class="u-label">AgeSection</label>
                           <input type="number" placeholder="Enter Age Section" id="email-8673" name="AgeSection" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" spellcheck="false">
                       </div>
                       <input name="UserId" type="hidden" value="@userId" />
                       <div class="u-align-center u-form-group u-form-submit">
                           <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
                       </div>
                   </form>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>