@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Welcome to Co-Coach">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen" asp-append-version="true" >
    <link rel="stylesheet" href="/css/index.css" media="screen" asp-append-version="true">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    
    <link rel="stylesheet" href="/css/nicepageHome.css" media="screen" asp-append-version="true" >
    <link rel="stylesheet" href="/css/Home.css" media="screen" asp-append-version="true">

    <meta name="generator" content="Nicepage 4.6.9, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    
    <meta name="generator" content="Nicepage 4.6.9, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
</head>

<body class="u-body u-xl-mode">
    <section class="skrollable skrollable-between u-align-center u-clearfix u-gradient u-section-1" id="sec-7c7a">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-body-alt-color u-text-default u-title u-text-1" spellcheck="false"><b>Welcome to Co-Coach</b>
            </h1>
        </div>
    </section>
    </body>
