.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-list-1 {
  width: 205px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 800px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 17px auto 0;
    padding: 19px 34px 20px;
}

.u-section-1 .u-icon-1 {
  width: 45px;
  height: 45px;
  font-size: 1.2667em;
  vertical-align: 0px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 17px auto 0;
  padding: 20px 37px 22px;
}

.u-section-1 .u-icon-2 {
  width: 45px;
  height: 45px;
  font-size: 1.2667em;
  vertical-align: 0px;
}

.u-section-1 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 17px auto 0;
    padding: 20px 37px 22px;
}

.u-section-1 .u-icon-3 {
  width: 45px;
  height: 45px;
  font-size: 1.2667em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 16px auto 0;
  padding: 20px 34px 21px 33px;
}

.u-section-1 .u-icon-4 {
  width: 45px;
  height: 45px;
  font-size: 1.2667em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 17px auto 0;
  padding: 20px 27px 22px 26px;
}

.u-section-1 .u-icon-5 {
  width: 45px;
  height: 45px;
  font-size: 1.2667em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 915px;
  margin: -800px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 820px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
    width: 348px;
    height: 35px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    margin-right: auto;
}

.u-section-1 .u-shape-2 {
  width: 348px;
  height: 78px;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 410px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-shape-3 {
    width: 348px;
    height: 27px;
    margin-bottom: 4px;
}

.u-section-1 .u-shape-4 {
  width: 348px;
  height: 78px;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 410px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-shape-5 {
    width: 348px;
    height: 27px;
    margin-bottom: 4px;
}

.u-section-1 .u-shape-6 {
  width: 348px;
  height: 78px;
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 645px;
  }

    .u-section-1 .u-shape-1 {
        width: 290px;
        margin-bottom: 4px;
    }

  .u-section-1 .u-shape-2 {
    width: 290px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-1 .u-shape-3 {
    width: 290px;
  }

  .u-section-1 .u-shape-4 {
    width: 290px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 323px;
  }

  .u-section-1 .u-shape-5 {
    width: 290px;
  }

  .u-section-1 .u-shape-6 {
    width: 290px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1498px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 968px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 485px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 485px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 305px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}