@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="/css/nicepageLogin.css" media="screen" asp-append-version="true" >
<link rel="stylesheet" href="/css/Login.css" media="screen" asp-append-version="true">

<section class="u-align-center u-clearfix u-gradient u-section-1" id="sec-7c7a">
    <div class="u-align-left u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-group  u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h1>@ViewData["Title"]</h1>
                <div class="u-expanded-width u-form u-form-1">
                    <div class="row">
                        <form method="POST" id="loginForm" asp-route-returnUrl="@Model.ReturnUrl">
                            <h2>Log in to account.</h2>
                            <hr/>
                            <input type="hidden" id="siteId" name="siteId" value="1601088">
                            <input type="hidden" id="pageId" name="pageId" value="1601098">
                            <div class="form-floating">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <label asp-for="Input.Password" class="form-label"></label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="u-align-left u-form-group u-form-submit">
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
